<section class="md:w-4/5 mx-auto bg-orange-700">
    <div class="sm:min-h-screen sm:grid sm:gap-6">
        <!--Minibus Hire Mayo -->
        <div class="min-h-screen sm:min-h-fit  px-4 flex flex-col sm:flex-row flex-grow justify-evenly">
            <div class="flex flex-col justify-evenly mx-3 md:w-2/3 bg-violet-900 rounded-lg">
                <h2 class="p-2 text-2xl sm:mx-3 text-white font-bold">Minibus Hire Mayo</h2>
                <p class="p-3 text-lg sm:m-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, ipsam incidunt id corrupti deserunt
                    itaque!
                    Voluptas quia tempora ea debitis dolorem? Minima, architecto deleniti harum ab commodi quod eos vel.
                </p>
            </div>
            <!--Airport Shuttle Mayo & Galway-->
            <div class="flex flex-col justify-evenly mx-3 md:w-2/3 bg-violet-900 rounded-lg">
                <h2 class="p-2 text-2xl sm:mx-3 text-white font-bold">Airport Shuttle Mayo & Galway</h2>
                <p class="p-3 text-lg sm:m-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, ipsam incidunt id corrupti deserunt
                    itaque!
                    Voluptas quia tempora ea debitis dolorem? Minima, architecto deleniti harum ab commodi quod eos vel.</p>
            </div>
        </div>
        <!--School Bus hire Clairemorris-->
        <div class="min-h-screen sm:min-h-fit  px-4 flex flex-col sm:flex-row flex-grow justify-evenly">
            <div class="flex flex-col justify-evenly mx-3 md:w-2/3 bg-violet-900 rounded-lg">
                <h2 class="p-2 text-2xl sm:mx-3 text-white font-bold">School Bus Hire Clairemorris</h2>
                <p class="p-3 text-lg sm:m-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, ipsam incidunt id corrupti deserunt
                    itaque!
                    Voluptas quia tempora ea debitis dolorem? Minima, architecto deleniti harum ab commodi quod eos vel.</p>
            </div>
            <!--Bus Hire for Special events-->
            <div class="flex flex-col justify-evenly mx-3 md:w-2/3 bg-violet-900 rounded-lg">
                <h2 class="p-2 text-2xl sm:mx-3 text-white font-bold">Bus Hire for Special events</h2>
                <p class="p-3 text-lg sm:m-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, ipsam incidunt id corrupti deserunt
                    itaque!
                    Voluptas quia tempora ea debitis dolorem? Minima, architecto deleniti harum ab commodi quod eos vel.</p>
            </div>
        </div>
        <!--Our Fleet-->
        <div class="min-h-screen sm:min-h-fit  px-4 flex flex-col sm:flex-row flex-grow justify-evenly">
            <div class="flex flex-col justify-evenly mx-3 md:w-2/3 bg-violet-900 rounded-lg">
                <h2 class="p-2 text-2xl sm:mx-3 text-white font-bold">Our Fleet</h2>
                <p class="p-3 text-lg sm:m-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, ipsam incidunt id corrupti deserunt
                    itaque!
                    Voluptas quia tempora ea debitis dolorem? Minima, architecto deleniti harum ab commodi quod eos vel.</p>
            </div>
            <!--Our Drivers-->
            <div class="flex flex-col justify-evenly mx-3 md:w-2/3 bg-violet-900 rounded-lg">
                <h2 class="p-2 text-2xl sm:mx-3 text-white font-bold">Our Drivers</h2>
                <p class="p-3 text-lg sm:m-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, ipsam incidunt id corrupti deserunt
                    itaque!
                    Voluptas quia tempora ea debitis dolorem? Minima, architecto deleniti harum ab commodi quod eos vel.</p>
            </div>
        </div>
    </div>
</section>